nav.navbar.navbar-dark.bg-primary.navbar-expand
    script(type='text/javascript', src='/js/jquery-3.6.3.min.js')

    .container
        a.navbar-brand(href='#') Rusty Brown's Ring Donuts
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/')
                    span Home
            if user
              li.nav-item
                  a.nav-link(href='/billing')
                      span Billing
            if user
              li.nav-item
                  a.nav-link(href='/logout')
                      span Logout
        span.navbar-text
            if user
              a.nav-link(href='/billing')
                  span #{user.username}
            else
              a.nav-link(href='/login')
                  span Login
