doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        title= subject
    body
        include  partials/_nav
        div.container.mt-2
          div: form(method='post', class='form-vertical', action='/api/card/add')
            fieldset
              legend: strong.text-info Existing Cards
              label You must set up a payment method to receive our delicious dounts..

              // Cards
              script(type='text/javascript').
                $.ajax({
                  url: "/api/v2/cards",
                }).done(function(data) {
                  var cards = data
                  $("#cards").append(JSON.stringify(data))

                  $(cards.data).each(function(index){
                    $(list).append('Card Number: ' + this.PAN + '<br />Expiry: ' + this.Expiry + '<p>');
                  });
                });

              //#cards
              #list

              //each key in cards.data
              //  li Card Number: !{key.PAN}
              //  li Expiry Date: !{key.Expiry}
              //  p

              if message.error
                div.alert.alert-danger Error

            fieldset
              legend: strong.text-info Add New Card

              div.form-group
                label Card Number:
                input.form-control(name='CardNumber', autofocus)

              div.form-group
                label Expiry:
                input.form-control(name='Expiry')

              div.form-group
                label CVV:
                input.form-control(name='CVV', type='password')

              div.form-actions
                input.btn.btn-primary(type='submit', value='Save')
